requests
pysqlite3-binary
beautifulsoup4
google
sentence-transformers
python-dotenv
faiss-cpu
numpy
pytz
langchain
langchain-groq
langchain-chroma
langchain-community
langchain-huggingface
streamlit
schedule